body{
	margin: 0;
	padding: 0; 
}
.wrapper{
	width: 100%;
	height: 582px;
	background-color: #48bcff;
	display: block;
	position: relative;
	animation: ani-one 0.75s ease-in-out 1.5s forwards 1;
}

.round{
	background-color: #FFFF00;
	width: 11%;
	height: 150px;
	position: absolute;
	left: 5%;
	top: 10%;
	display: block;
	border-radius: 50%;
	animation: ani-four 2s ease-in-out forwards 1;
}

.wrapper-2{
	/*position: absolute;*/
	bottom: 0;
}

.image-area{
	width: 100%;
	float: left;
	height: 582px;
	position: absolute;
	background-image: url('mountains.png');
}

@keyframes ani-one{
	70%{
		background-color: #d2c13a;
	}
	100%{
		background-color: #d2c13a
	}
}
@keyframes ani-four{
	0%{
		left: 0;
	}
	100%{
		left: 85%;
	}
}