/*body{
	margin: 0;
	padding: 0; 
}*/
.wrapper-down-sr-2x{
	width: 100%;
	height: 582px;
	background-color: #48bcff;
	display: block;
	position: relative;
	animation: ani-one-down-sr-two 0.75s ease-in-out 1.5s forwards 1;
}

.round-down-sr-2x{
	background-color: #FFFF00;
	width: 11%;
	height: 150px;
	position: absolute;
	left: 80%;
	top: 10%;
	display: block;
	border-radius: 50%;
	animation: ani-four-down-sr-two 2s ease-in-out forwards 1;
}

.wrapper-2-down-sr-2x{
	/*position: absolute;*/
	bottom: 0;
}

.image-area-down-sr-2x{
	width: 100%;
	float: left;
	height: 582px;
	position: absolute;
	background-image: url('mountains.png');
}

@keyframes ani-one-down-sr-two{
	75%{
		background-color: #d2c13a;
	}
	100%{
		background-color: #d2c13a
	}
}
@keyframes ani-four-down-sr-two{
	0%{
		top: 0;
	}
	100%{
		top: 70%;
	}
}