body{
	font-size: 1em;
	font-family: sans-serif;
	text-align: center;
	animation-name: gravity-act;
	animation-timing-function: linear;
}
.stage{
	/*border-bottom: 2px solid black;*/
	display: flex;
	height: 200px;
	width: 100%;
}
.box{
	align-self: flex-end;
	animation-duration: 3s;
	background-color: blue;
	height: 200px;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	width: 200px;
	animation-fill-mode: forwards;
}
.gravity{
	animation-name: gravity-act;
	animation-timing-function: linear;
}
@keyframes gravity-act{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(400px);
	}
}